/* css styles */
/* @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap'); */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@import url("https://cdn.jsdelivr.net/gh/wan2land/d2coding/d2coding-ligature-subset.css");

h1, h2, h3, h4, h5, h6 {
    font-family: 'NanumSquare' !important;
    font-weight : 600;
  }

  ul, li, ol{
    font-family: 'pretendard' !important;
    font-size:95%;
   }

p {
    font-family: 'NanumSquare' !important;
    font-size: 90%;
    font-weight: 400; 
}

.category {
  font-size: 90%;
}

.sourceCode {
  font-family: 'D2Coding', monospace !important;
  font-size: 95%;
}